pandas
numpy
matplotlib
seaborn
plotly
python-pptx
openpyxl
xlrd
ipython
ipywidgets
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
